@charset "utf-8";
/*重置样式和公用样式*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 14px;
  color: #333;
  font-family: "Microsoft YaHei", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
  clear: both;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
/*苏宁版心*/
.sn_container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
